<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.voltron.quiz_game" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name=".OptionsActivity"
            android:label="@string/title_activity_options" >
        </activity>
        <activity
            android:name=".CreateActivity"
            android:label="@string/title_activity_create" >
        </activity>
        <activity
            android:name=".AnswerActivity"
            android:label="@string/title_activity_answer" >
        </activity>
        <activity
            android:name=".UserChartActivity"
            android:label="@string/title_activity_user_chart" >
        </activity>
        <activity
            android:name=".CreateQuizActivity"
            android:label="@string/title_activity_create_quiz" >
        </activity>
        <activity
            android:name=".QuizOptionsActivity"
            android:label="@string/title_activity_quiz_options" >
        </activity>
        <activity
            android:name=".CreateQuizQuestionActivity"
            android:label="@string/title_activity_create_quiz_question" >
        </activity>
    </application>

</manifest>
